@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?30021759');
  src: url('../font/fontello.eot?30021759#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?30021759') format('woff2'),
       url('../font/fontello.woff?30021759') format('woff'),
       url('../font/fontello.ttf?30021759') format('truetype'),
       url('../font/fontello.svg?30021759#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
}

.parent:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.kegl {
	padding: 45px 10px;
}

h2, h3, h4, p{
	padding: 6px;
	color: #424242;
	text-align: center;
}

.kegl h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

.kegl div:first-child>p {
	font-size: 18px;
	padding-bottom: 50px;
	position: relative;
}

.kegl div:first-child>p:after {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -25px;
	display: inline-block;
	height: 5px;
	content: " ";
	text-shadow: none;
	background-color: #000;
	width: 50px;
}

.contacts {
	background: #f0f2f4;
	text-align: right;
	width: 100%;
	padding-right: 55px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 9;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	/* width: 100%; */
	margin: 0 auto;
	padding: 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.content i {
	font-size: 20px;
	padding: 10px;
	color: #424242;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.content .icon-facebook-rect {
	color: #1287bf;
}

.content i:hover {
	color: #dd2a24;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contacts span {
	display: none;
}

.consult {
margin-top: 30px;
text-align: center;
}

.consult a {
	padding: 10px 25px;
	background: #dd2a24;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.consult a:hover {
	background: #f8cd53;
}

header {
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 8;
	left: 0;
}

header .logo{
	width: 200px;
    margin: 0 auto;
}

header .logo a {
	color: #424242;
	font-size: 30px;
	font-weight: bolder;
	display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%;
}

header .logo p {
	color: #424242;
	font-size: 12px;
	text-align: left;
	padding: 0;
}

header .logo>div {
	float: right;
	display: inline;
}

header .logo img {
	padding: 5px 5px 0 0;
}

header .mob-menu {
	position: absolute;
	top: 0px;
	right: 5px;
	padding: 10px;
}

header .mob-menu i {
	color: #dd2a24;
	font-size: 24px;
}

header nav {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #dd2a24;
	top: 0;
	left: 0;
	z-index: 9;
}

header nav.active {
	display: block;
}

header nav .cancel {
	position: absolute;
	color: #fff;
	font-size: 20px;
	top: 0;
	right: 10px;
	padding: 15px;
}

header nav ul {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-box-sizing: translate(-50%,-50%);
	-moz-box-sizing: translate(-50%,-50%);
	-ms-box-sizing: translate(-50%,-50%);
	box-sizing: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

header nav ul li a {
	display: inline-block;
	text-transform: uppercase;
	padding: 5px 0px;
	margin-top: 20px;
	font-size: 20px;
	color: #fff;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

header nav ul li a:hover {
	color: #ffc155;
}

/* --------------------------------------- */

.slick-prev, .slick-next {
	display: none;
	text-indent: -99999px;
	background: transparent;
	border: none;
}

.baner-content div{
	text-align: center;
	position: relative;
}

.baner-content div h2 {
	font-size: 40px;
	padding-top: 100px;
	color: #fff;
}

.baner-content div p {
	font-size: 20px;
	padding-bottom: 37px;
	color: #fff;
}

.baner-content div a {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 20px;
	background: #f8cd53;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 100px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.baner-content div a:hover {
	background: #dd2a24;
}

.baner-content div:nth-child(1){
	background: url(../img/Layer321.jpg);
	background-size: cover;
	background-color: rgba(0,0,0,0.5);
}

.baner-content div:nth-child(2){
	background: url(../img/Layer322.jpg);
	background-size: cover;
}

.baner-content div:nth-child(3){
	background: url(../img/Layer323.jpg);
	background-size: cover;
}

.baner-content .slick-dots {
	text-align: center;
	bottom: 10px;
	width: 100%;
	position: absolute;
	bottom: 42px;
}

.baner-content .slick-dots li {
	display: inline-block;
	margin: 0 7px;
}

.baner-content .slick-dots button{
	width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid transparent;
    background: transparent;
    position: relative;
    text-indent: -99999px;

}

.baner-content .slick-dots button:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	background: #fff;
	border-radius: 50%
}

.baner-content .slick-dots .slick-active button{
	 border: 2px solid #fff;
	 border-radius: 100%;
}

/* ------------------------------------------------ */

.offer {
	width: 100%;
    margin: 0 auto;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* .offer > h2 {
	padding-top: 20px;
} */
.offer > p {
	color: #424242;
	font-size: 15px;
	text-align: center;
	padding-bottom: 20px;
	position: relative;
}

.offer .item {
	text-align: center;
}

.offer .item img {
	padding-bottom: 20px;
}

.offer .item img {
	padding-bottom: 20px;
}

.offer .item div:nth-child(2) {
	padding-bottom: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.news {
	background: #f3f3f3;
}

.item_center .block_news {
	border-radius: 10px;
}

.news .img {
	background-size: cover;
	width: 100%;
	height: 200px;
}

.one .img {
	background: url(../img/Layer28.jpg);
}
.two .img {
	background: url(../img/Layer29.jpg);
}
.three .img {
	background: url(../img/Layer30.jpg);
}
.four .img {
	background: url(../img/Layer31.jpg);
}

.block_news {
	margin: 19px 0;
}

.news .news_read {
	background: #fff;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.news .news_read h2 {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.news .news_read p {
	text-align: left;
	padding-bottom: 10px;
}

.news .news_read {
	text-align: center;
}

.step {
	display: none;
}

.news .news_read a {
	display: inline-block;
	text-align: center;
	background: #e7ae4b;
	padding: 10px 15px;
	margin: 20px 0;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.news .news_read a:hover {
	border: 1px solid white;
}

.work {
	background: #de2b24;
}

.work h2,
.work p,
.forms h2,
.forms p,
footer h2,
footer p {
	color: #fff;
}

.work div:first-child>p:after,
.forms div:first-child>p:after {
	background-color: #fff;
}

.tabs img {
	width: 100%;
	float: left;
}

.work #tabs a {
	display: inline-block;
	color: #fff;
	padding: 5px 20px;
	margin: 1px 20px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.work #tabs a:hover,
.work #tabs a:focus {
	color: white;
	background: #f8cd53;
	border-radius: 5px;
}

.work #tabs li {
	display: block;
	color: black;
	text-align: center;
}

.tabs {
	margin: 35px 0;
}

.forms {
	background: #1287bf;
}

.form-menu,
.get .cancel {
	display: none;
}

.get {
	background: #fff;
	text-align: center;
	border-radius: 5px;
}

.get p {
	color: #959292;
	padding: 50px;
}

.get input {
	border: 1px solid rgba(220,220,220,1);
	border-radius: 5px;
    color: #2980b9;
    font-size: 16px;
    padding: 20px;
    width: 70%;
    outline: none;
    margin: 4px 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.get input:hover{
	box-shadow: 0px 0px 0px 2px rgba(18,135,191, 0.2);
	border: 1px solid rgba(18,135,191,1);
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
.get input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.get input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.get input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.get input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.get input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}
.get input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}
.get input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}
.get input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.get input[type="button"] {
	margin-top: 35px;
	margin-bottom: 50px;
	background: #de2b24;
	color: #fff;
	font-weight: bolder;
	padding: 15px;
	border: none;
	box-shadow: none;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.get input[type="button"]:hover {
	background: #f8cd53;
	border: none;
}

footer {
	background-color: #2a2a2a;
}

footer .copirate {
	background-color: #515151;
	padding: 28px 0;
	font-size: 14px;
	color: #9e9e9e;
}

footer h2 {
	color: white;
}
footer p {
	color: #9e9e9e;
}

.information div:first-child>p:after {
	display: none;
}

.social {
	text-align: center;
	margin: 0 auto;
	padding: 30px 0 40px;
}

.social i {
	color: #fff;
	border-radius: 5px;
	border: 2px solid #515151;
	margin: 0 7px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.social i:hover {
	border: 2px solid #de2b24;
	color: #fff;
	box-shadow: inset 0px 0px 0px 7px white;
}

.information p {
	color: #7b7b7b;
	padding-bottom: 30px;
}

footer .information {
	padding: 10px;
}

.information input {
	border: 2px solid transparent;
	background-color: #515151;
    color: #2980b9;
    font-size: 16px;
    padding: 20px;
    width: 70%;
    outline: none;
    margin: 4px 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.information input:hover{
	border: 2px solid #de2b24;
	box-shadow: inset 0px 0px 0px 7px white;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
.information input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.information input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.information input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.information input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.information input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}
.information input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}
.information input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}
.information input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.information form {
	text-align: center;
}

.information input[type="button"] {
	border-radius: 5px;
	border: 2px solid #515151;
	margin-top: 35px;
	margin-bottom: 50px;
	background: #2a2a2a;
	color: #fff;
	font-weight: bolder;
	padding: 15px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.information input[type="button"]:hover {
	border: 2px solid #de2b24;
}













@media screen and (min-width: 680px) {

	.contacts a:hover i {
		color: #de2b24;
	}

	.contacts span {
		display: inline;
		color: #424242;
	}

	header .logo {
    	margin: 0 10%;
    }

    .consult {
	    position: absolute;
	    top: 45px;
	    right: 10%;
	}
	
	.offer .item {
	    width: 33%;
	    float: left;
	}

	.block_news {
		position: relative;
	}

	.news .news_read p {
		text-align: justify;
	}

	.one .img,
	.three .img {
		background-position:  center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 40%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.one .news_read,
	.three .news_read {
		width: 60%;
		float: right;
		padding: 45px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}


	.two .img:nth-child(1),
	.four .img:nth-child(1) {
		background-repeat: no-repeat;
		background-size: cover;
		width: 40%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}

	.two .news_read,
	.four .news_read {
		width: 60%;
		float: left;
		padding: 45px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.work #tabs ul {
		text-align: center;
	}

	.work #tabs ul li {
		display: inline;
	}

	.tabs img {
		width: 25%;
		float: left;
	}

	.get input[type="button"] {
		width: 160px;
	}

	.information input[type="button"] {
		width: 150px;
	}

	footer .information {
		padding-top: 45px;
		padding-bottom: 45px;
	}

}











@media screen and (min-width: 1024px) {

	.contacts {
	    padding-right: 0px;
	}

	.consult {
	    position: static;
	    float: right;
	    margin-top: 25px;
	}

	.content {
		width: 900px;
		padding: 0px;
	}

	header .logo {
	    padding-left: 0px;
	    float: left;
	    width: 22%;
	    margin: 0;
	}

	.baner .content {
		width: 100%;
	}

	header .mob-menu {
		display: none;
	}

	header nav .cancel {
		display: none;
	}

	.consult {
	    top: 78px;
	}

	.consult a {
		font-size: 16px;
	}

	header {
		/* position: absolute; */
		overflow: hidden;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	header nav {
		float: left;
		display: block;
		position: static;
		width: 50%;
		height: auto;
		background: transparent;
		padding-left: 50px;
	}


	header nav ul {
		position: static;
		top: 0;
		left: 0;
		text-align: center;
		-webkit-box-sizing: translate(0,0);
		-moz-box-sizing: translate(0,0);
		-ms-box-sizing: translate(0,0);
		box-sizing: translate(0,0);
		transform: translate(0,0);
	}

	header nav ul li {
		display: inline-block;
		padding-right: 35px;
	}

	header nav ul li:last-child {
		padding-right: 0px;
	}

	header nav ul li a {
		text-transform: capitalize;
		font-weight: bolder;
		font-size: 16px;
		color: #000;
	}

	header nav ul li a:hover {
		color: #dd2a24;
		-webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}

	header nav ul li:first-child a {
		text-transform: capitalize;
		font-size: 16px;
		color: #dd2a24;
	}

	header nav ul li:first-child a:hover {
		color: #f8cd53;
		-webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}

	.slick-arrow{
		width: 50px;
		height: 60px;
		text-indent: -9999999px;
		border: none;
		outline: none;
		z-index: 1000;
	}

	.slick-prev{
		position: absolute;
		top: 50%;
		left: 10%;
		background: url("../img/left.png") no-repeat;
		background-size: 40px 40px;
		outline: none;
		-webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}
	
	.slick-prev:hover {
		background-size: 39px 39px;
	}

	.slick-next{
		position: absolute;
		top: 50%;
		left: 85%;
		background: url("../img/right.png") no-repeat;
		background-size: 40px 40px;
		outline: none;
		-webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}

	.slick-next:hover {
		background-size: 39px 39px;
	}

	
	.baner-content div a {
		 margin-bottom: 170px;
	}

	.kegl {
		padding: 95px 10px;
	}

	.offer .item div:nth-child(2) {
		padding-bottom: 0px;
	}

	.block_news {
	    margin: 40px 0;
	}

	.get {
		width: 685px;
		margin: 80px auto;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.info {
		width: 685px;
		margin: 0 auto;
	}
	
	.get,
	.forms div:first-child>p:after {
		display: none;
		position: relative;
	}

	.form-menu {
		display: block;
		color: #fff;
		position: relative;
		margin: 0 auto;
		width: 70px;
	}

	.form-menu i {
		position: absolute;
		transform: translate(-20%, -50%);
		font-size: 65px;
		color: #fff;
	}

	.form-menu i:hover {
		color: rgba(255,255,255, 0.2);
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.cancel-form {
		background: #fff;
		border-radius: 50px;
		width: 45px;
		height: 45px;
		position: absolute;
		right: -20px;
		top: -20px;
	}

	.get .form .cancel {
		color: red;
		display: block;
		color: red;
		font-size: 40px;
		transform: translate(-34%, -18%);
	}

	.get:after {
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    top: -40px;
	    pointer-events: none;
	    border-color: rgba(136, 183, 213, 0);
	    border-top-color: #fff;
	    border-width: 20px;
	    margin-left: -22px;
	    transform: rotate(180deg);
	}

	.news_read {
		position: relative;
	}

	.step {
		display: block;
		width: 100px;
		height: 100px;
		position: absolute;
		margin-top: -50px;
		top: 50%;
		background: #de2b24;
		border-radius: 5px;
		border: 2px solid #fff;
		text-align: center;
	}

	.one .step,
	.three .step {
		left: -50px;
	}

	.two .step,
	.four .step {
		right: -50px;
	}

	.news .step p {
		color: #fff;
		font-size: 18px;
		padding: 0;
		line-height: 0.1em;
		text-align: center;
	}

	.step span {
		color: #fff;
		font-size: 60px;
	}

	.one .news_read > p,
	.three .news_read > p {
		padding-left: 90px;
	}

	.two .news_read > p,
	.four .news_read > p {
		padding-right: 90px;
	}

	/* ------animation offer------ */

	.offer .left {
	   transform: translate(-1000px);
	}
	
	@-webkit-keyframes leftA {
	    from {
	        transform: translate(-1000px);
	    }
	    to {
	        transform: translate(0px);
	    }
	} 
	
	@keyframes leftA {
	    from {
	        transform: translate(-1000px);
	    }
	    to {
	        transform: translate(0px);
	    }
	}
	
	.left-a {
	    animation: leftA 2s forwards;
	    animation-timing-function: ease;
	}
	
	.offer .center {
	   opacity: 0;
	}
	
	@-webkit-keyframes centerA {
	    from {
	        opacity: 0;
	    }
	    to {
	        opacity: 1;
	    }
	} 
	
	@keyframes centerA {
	    from {
	        opacity: 0;
	    }
	    to {
	        opacity: 1;
	    }
	}
	
	.center-a {
	    animation: centerA 4s forwards;
	    animation-timing-function: ease-in;
	}
	
	.offer .right {
	   transform: translate(1000px);
	}
	
	@-webkit-keyframes rightA {
	    from {
	        transform: translate(1000px);
	    }
	    to {
	        transform: translate(0px);
	    }
	} 
	
	@keyframes rightA {
	    from {
	        transform: translate(1000px);
	    }
	    to {
	        transform: translate(0px);
	    }
	}
	
	.right-a {
	    animation: rightA 2s forwards;
	    animation-timing-function: ease;
	}
	
	/* ------animation news------ */
	
	.news .one .step {
	   
	}
	
	@-webkit-keyframes oneB {
	    from {
	        transform: rotate(0deg);
	    }
	    to {
	        transform: rotate(360deg);
	    }
	} 
	
	@keyframes oneB {
	    from {
	        transform: rotate(0deg);
	    }
	    to {
	        transform: rotate(360deg);
	    }
	}
	
	.one-b {
	    animation: oneB 1s forwards;
	    animation-timing-function: ease-in;
	}
	
	.news .two .step {
		
		}
	
	@-webkit-keyframes twoB {
	    0%{transform: scale(1);}
		50% {transform: scale(1.5);}
		100% {transform: scale(1);}
	} 
	
	@keyframes twoB {
	    0%{transform: scale(1);}
		50% {transform: scale(1.5);}
		100% {transform: scale(1);}
	}
	
	.two-b {
	    animation: twoB 1s forwards;
	    animation-timing-function: ease-in;
	}
	
	.news .three .step {
		transform: scale(0);
		}
	
	@-webkit-keyframes threeB {
	    from {
	    	transform: scale(0);
	    }
	    to {
	    	transform: scale(1);
	    }
	} 
	
	@keyframes threeB {
	    from {
	    	transform: scale(0);
	    }
	    to {
	    	transform: scale(1);
	    }
	}
	
	.three-b {
	    animation: threeB 1s forwards;
	    animation-timing-function: ease;
	}

	.news .four .step {
			transform: translateY(70px);
		}
	
	@-webkit-keyframes fourB {
	    from {
	        transform: translateY(70px);
	    }
	    to {
	        transform: translateY(0px);
	    }
	} 
	
	@keyframes fourB {
	    from {
	        transform: translateY(70px);
	    }
	    to {
	        transform: translateY(0px);
	    }
	}
	
	.four-b {
	    animation: fourB 1s forwards;
	    animation-timing-function: ease;
	}


}




















@media screen and (min-width: 1180px) {

	.offer .item {
		padding: 0 48px;
		box-sizing: border-box;
	}

	.content {
		width: 1020px;
		padding: 0px;	
	}


}


