html, body {
  margin: 0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

header {
  background: #333333;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  display:inline-block;
  margin-right:25px;
}

.nav li:hover {
text-shadow: 0px 0px 5px #f1d067, 0 0 1em #f1d067;
cursor: pointer;
}

.jumbotron{
	background:url(../img/city_up.jpg);
	height: 550px;
	background-size: cover;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1{
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 80px;
}

.btn-main{
	background-color: #333;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
	padding:16px 40px;
}

.btn-main:hover {
  text-shadow: 0px 0px 5px #f1d067, 0 0 1em #f1d067;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 50px;
}

.supporting i {
  font-size: 32px;
}

.btn-support {
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  font-weight: bolder;
  border:1px solid #333333;
  letter-spacing: 1.3px;
  padding: 16px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-support:hover {
  background: #000;
  color: #fff;
  text-shadow: 0px 0px 5px #f1d067, 0 0 1em #f1d067;
}

.clearfix{
	clear:both;
}

.map {
  /* background: silver; */
  padding: 50px 0;
  background:url(../img/city_down.jpg);
  background-size: cover;
}

.map h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 50px;
  text-shadow: 0px 0px 5px #f1d067, 0 0 1em #f1d067;
}

/* .map h2:after {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  display: inline-block;
  height: 5px;
  content: " ";
  text-shadow: none;
  background-color: #333;
  width: 50px;
} */

#map {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  border: 5px solid #f1d067;
  border-radius: 5px;
  box-shadow:  0px 0px 5px #f1d067, 0 0 1em #f1d067;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: 500px){
	.jumbotron h1{
		font-size: 40px;
	}
	.supporting .col{
		width: 100%;
		margin-bottom: 40px;
	}
}

@media (max-width: 300px){
	.supporting p{
		display: none;
	}
	.btn-support{
		padding: 10px 30px;
	}
}