/* Medium Layout: 1440px. */

@media only screen and (min-width: 1280px) {

	#header-section .header-menu ul {
		margin-top: 15px;
	}




} 


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {

	#header-section .header-menu ul {
		margin-top: 15px;
	}


}



/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {


	.logo img {
	  padding-left: 15px;
	}

	.slicknav_nav, 
	.slicknav_nav ul {
	  background: rgba(44, 54, 61, 0.9);
      margin-top: 65px;
      padding-top: 30px;
      height: 100vh;
	}

	#my_job-top-section .my_job-top-wrap {
	  margin-top: 60px;
	  margin-bottom: 20px;
	}

	#my_job-top-section .my_job-top-image {
	  margin: 0 auto;
	}

	/**/
	#join-now .get-product h2 {
	  float: none;
	  padding: 0;
	}

	#join-now .my_job-top-form input[type="email"] {
	  width: 200px;
	}

	#join-now .my_job-top-form form .btn-submit {
	  width: 25%;
	}

	#my_job-work .single-work {
	  text-align: center;
	}

	#my_job-work .single-work-img {
	    display: none;
	}

	#my_job-work .single-work img {
	  float: none;
	  margin: 0 auto;
	}

	#my_job-work .single-work h3, #my_job-work .single-work p {
	  width: 100%;
	}

	#alegin-campaign .single-campaing {
	  	padding: 0 15px;
	}

	#alegin-campaign .single-campaing p {
	    margin-bottom: 30px;
	}

	#testimonial .client-testmonial img {
		height: 150px;
		margin-bottom: 60px;
		width: 150px;
	}

	#menu {
		display:none;
	}

	.slicknav_menu {
		background: transparent none repeat scroll 0 0;
		display: block;
		position: absolute;
		width: 100%;
		z-index: 999999;
	}

	.slicknav_nav a:hover {
	    
	}

	.slicknav_nav a {
	  background: #ff3333 none repeat scroll 0 0;
	  border-radius: 5px;
	  color: #fff;
	  padding: 10px 0;
	  text-align: center;
	  font-weight: bold;
	}

	.slicknav_btn {
	  	padding: 0.58em 0.625em;
	}

	#my_job-search .single-search-img {
		display: none;
	}

}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

	.slicknav_btn {
	    margin: 10px 5px 6px;
	    text-decoration:none;
	    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;  
	    background-color: #222222;
	}

	.logo img {
	  padding-left: 15px;
	}

	#menu {
	  display:none;
	}

	.slicknav_menu {
	  background: transparent none repeat scroll 0 0;
	  display: block;
	  position: absolute;
	  width: 100%;
	  z-index: 999999;
	  right: 0;
	  margin-top: 7px;
	  width: 100%;
	}

	.slicknav_btn {
	  padding: 0.59em 0.625em;
	}

	.slicknav_nav a:hover {
    /*background: transparent none repeat scroll 0 0;*/}

	.slicknav_nav a {
	  background: #ff3333 none repeat scroll 0 0;
	  border-radius: 5px;
	  color: #fff;
	  padding: 10px 0;
	  text-align: center;
	  font-weight: bold;
	}

	.slicknav_nav, 
	.slicknav_nav ul {
	  background: rgba(44, 54, 61, 0.9);
      margin-top: 65px;
      padding-top: 30px;
      height: 100vh;
	}

	#my_job-top-section .my_job-top-wrap h2 {
	  font-size: 30px;
	}

	#my_job-top-section .my_job-top-wrap p {
	  padding: 0 25px;
	}

	#my_job-top-section .my_job-top-wrap {
  	  margin-bottom: 60px;
  	  margin-top: 60px;
	}

	#my_job-top-section .my_job-top-image {
	  bottom: 0px;
	  height: auto;
	  width: auto;
	  margin: 60px auto 0;
	}

	#my_job-top-section .my_job-top-image img {
	  display: block;
	  height: auto;
	  margin: 0 auto;
	  width: auto;
	}

	.get-product h2 {
	  float: none;
	  padding: 0;
	  text-align: center;
	}

	.my_job-top-form input {
	  width: 70%;
	}

	.my_job-top-form form .btn-submit {
	  width: 30%;
	}

	.section-heading h2 {
	  font-size: 25px;
	  margin-top: 60px;
	}

	#my_job-featured .single-feature .featured-img {
	  margin: 30px auto;
	}

	.btn-learn-more {
	  margin: 30px 0 60px;
	}

	.single-feature h3 {
	  font-size: 20px;
	  margin-bottom: 10px;
	}

	.section-heading.white-style h2 {
	  font-size: 25px;
	}

	#my_job-work .single-work {
	  padding-bottom: 30px;
	  text-align: center;
	}

	#my_job-work .row.pd-top-80 {
		padding-top: 60px!important;
	}

	#my_job-work .single-work img {
	  float: none;
	  margin: 0 auto;
	}

	#my_job-work .single-work h3 {
	  margin-bottom: 10px;;
	}

	#my_job-work .single-work h3, #my_job-work .single-work p {
	  float: none;
	  width: auto;
	}

	#my_job-work .single-work-img {
	  display: none;
	}

	#alegin-campaign .single-campaing p {
	  margin: 0 0 10px;
	}

	.section-heading.normal-style h2 {
	  font-size: 30px;
	}

	#testimonial .client-testmonial img {
	  display: block;
	  float: none;
	  height: 150px;
	  margin: 0 auto 30px;
	  width: 150px;
	}

	#testimonial .client-testmonial p {
	  overflow: hidden;
	  padding-top: 0;
	  text-align: center;
	  width: 100%;
	}

	#testimonial .client-testmonial h3 {
	  text-align: center;
	}

	#footer-area .footer-left ul {
	  text-align: center;
	}

	#footer-area .footer-left ul li {
	  margin: 15px 5px 0;
	  padding: 10px 0;
	}

	#footer-area .footer-left ul li a {
	  font-size: 13px;
	}

	#footer-area .footer-right {
	  float: none;
	  padding-top: 10px;
	}

	#footer-area .footer-right p {
	  float: none;
	  padding-right: 0;
	  text-align: center;
	}

	#footer-area .footer-right ul {
	  float: none;
	  margin: 15px 0 0;
	  text-align: center;
	}

	#my_job-search .single-search-img {
		display: none;
	}

	#my_job-search .single-search i {
		padding-left: 0;
	}

	#my_job-search .single-search p {
		width: 100%;
	}


}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 599px) {


	#my_job-top-section .my_job-top-image {
	  bottom: -15px;
	}

	#my_job-top-section .my_job-top-wrap p {
	  padding: 0 85px;
	}

	#alegin-campaign .single-campaing p {
	  margin: 0 0 30px;
	}

	#my_job-top-section .my_job-top-image img {
	  height: 210px;
	}
	


}





@media only screen and (min-width: 600px) and (max-width: 767px) { 

	#my_job-top-section .my_job-top-wrap p {
	  padding: 0;
	}

	#my_job-top-section .my_job-top-image {
	  bottom: -15px;
	}

	#my_job-top-section .my_job-top-image img {
	  display: block;
	  height: 230px;
	  margin: 0 auto;
	  width: auto;
	}

	#alegin-campaign .single-campaing p {
	  margin: 0 0 25px;
	}



}