@font-face {
    font-family: 'KlavikaMedium-Plain';
    src: url('../font/KlavikaMedium-Plain.eot');
    src: url('../font/KlavikaMedium-Plain.woff2') format('woff2'),
    url('../font/KlavikaMedium-Plain.woff') format('woff'),
    url('../font/KlavikaMedium-Plain.ttf') format('truetype'),
    url('../font/KlavikaMedium-Plain.svg#KlavikaMedium-Plain') format('svg'),
    url('../font/KlavikaMedium-Plain.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zurich BT Bold';
    src: url('../font/Zurich BT Bold.eot');
    src: url('../font/Zurich BT Bold.woff2') format('woff2'),
    url('../font/Zurich BT Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBT-Bold';
    src: url('../font/ZurichBT-Bold.woff') format('woff'),
    url('../font/ZurichBT-Bold.ttf') format('truetype'),
    url('../font/ZurichBT-Bold.svg#ZurichBT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../font/MyriadPro-Regular.eot');
    src: url('../font/MyriadPro-Regular.woff2') format('woff2'),
    url('../font/MyriadPro-Regular.woff') format('woff'),
    url('../font/MyriadPro-Regular.ttf') format('truetype'),
    url('../font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../font/MyriadPro-Semibold.eot');
    src: url('../font/MyriadPro-Semibold.woff2') format('woff2'),
    url('../font/MyriadPro-Semibold.woff') format('woff'),
    url('../font/MyriadPro-Semibold.ttf') format('truetype'),
    url('../font/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
    url('../font/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.parent:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

html, body{
    min-height: 100%;
}

body {
    background: url('../img/body_bg.jpg') no-repeat 50% 0;
    background-size: cover;
    min-height: 100%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: block;
}

.conteiner{
    display: block;
    height: 100%;
}

.content{
    background: #fff;
    border: 1px solid #e1dbce;
    border-radius: 5px;
    margin: -1px;
}

.logo {
    position: relative;
    margin-top: 39px;
    padding-left: 20%;
}

.logo a {
    position: absolute;
    width: 100%;
    height: 175%;
    top: -20px;
    left: 20px;
    z-index: 10000;
}

.logo img {
    position: absolute;
    top: -19px;
    left: 12%;
}

.logo h2 {
    color: #231f20;
    font-family: 'KlavikaMedium-Plain';
    font-size: 34px;
    line-height: 24px;
}

.logo span {
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
    color: #858689;
    font-family: 'MyriadPro-Semibold';
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 3px;
}

.header-menu {
    text-align: center;
}

.header-menu span {
    display: block;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
    color: #585755;
    font-family: 'MyriadPro-Regular';
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 16px;
}

.header-menu a {
    display: block;
    color: #373737;
    font-family: 'MyriadPro-Regular';
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 11px;
}

.header-menu ul li {
    display: inline-block;
    text-transform: uppercase;
}

.header-menu ul li a {
    color: #209a28;
    font-size: 13px;
    font-weight: 400;
    padding-left: 8px;
}

nav {
    background-color: #43ac2d;
    background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
    border: 1px solid #0c932f;
    border-radius: 5px;
    box-shadow: inset 2px 2.2px 0 #81de41;
    margin-top: 13px;
}


nav ul li {
    display: block;
    text-align: center;

}

nav ul li a {
    text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
    color: white;
    font-family: 'MyriadPro-Regular';
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 10px 9px;
    display: inline-block;
}

.bread-crumbs {
    margin-top: 10px;
    margin-bottom: 4px;
}

.bread-crumbs ul li {
    display: inline-block;
    padding-left: 23px;
}

.bread-crumbs a {
    text-shadow: 0.5px 0.9px 0 white;
    color: #14961c;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.conteiner-left {
    width: 100%;
    float: left;
    background-color: white;
    /* border: 1px solid #e1dbce; */
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 18px 18px 10px 15px;
    box-shadow: inset 0 0 0 2px white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.conteiner-left .slick-slide {
    border-radius: 10px;
}

.conteiner-left .slick-slide div {
    width: 235px;
    float: right;
    border-radius: 0 10px 10px 0;
    padding: 13px 16px 62px 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.conteiner-left .slick-slide div span {
    font-family: 'MyriadPro-Regular';
    font-weight: 400;
    line-height: 35px;
    color: white;
    font-size: 22px;
    display: inline-block;
}

.conteiner-left .slick-slide div h3 {
    font-family: 'MyriadPro-Regular';
    font-weight: 400;
    line-height: 35px;
    color: #28b028;
    font-size: 32px;
    letter-spacing: -1px;
    padding-bottom: 9px;
}

.conteiner-left .slick-slide div p {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    padding-left: 2px;
}

.conteiner-left .slick-slide div a {
    font-family: Arial;
    display: inline-block;
    font-size: 12px;
    width: 95px;
    font-weight: 400;
    line-height: 18px;
    color: #28b028;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
}

.slick-dots {
    position: absolute;
    bottom: 24px;
    right: 100px;
}

.slick-dots li {
    display: inline-block;
    margin-right: 10px;
}

.slick-dots li:last-child{
    margin-right: 0;
}

.slick-dots li button{
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 9px;
    padding: 1px 0px;
    color: #cbcbcb;
    width: 21px;
    border-radius: 50%;
    border: 5px solid transparent;
    background-color: #6b685e;
}

.slick-dots li.slick-active button{
    color: white;
    background-color: #43ac2d;
    width: 26px;
    padding: 4px 0px 3px;
}

.fotograf {
    position: relative;
}

.fotograf img{
    position: absolute;
    top: -14px;
    right: 46px;
    display: none;
}

.fotograf .text {
    padding: 25px 0 16px 0;
}

.fotograf .text h2 {
    color: #444137;
    font-family: 'MyriadPro-Regular';
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 5px;
}

.fotograf .text p {
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    color: #595447;
    font-weight: 400;
    padding-left: 2px;
}

.fotograf .text a {
    color: #28b028;
    font-weight: 700;
    text-decoration: underline;
}

.tabs ul li {
    display: block;
    position: relative;
    background-color: white;
    background-image: linear-gradient(to top, #f4f3f1 0%, white 100%);
    border: 1px solid #cfcdc5;
    box-shadow: inset 0 -2px 0 white;
    width: 100%;
    margin-right: -4px;
    text-align: center;
    padding: 10px 0 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs ul li.ui-tabs-active {
    background-color: white;
    background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
    border: 1px solid #0c932f;
    box-shadow: inset 2px 2.2px 0 #81de41;
}

.tabs ul li.ui-tabs-active a:after{
    display: none;
}

.tabs ul li.ui-tabs-active a{
    text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
    color: white;

}

.tabs ul li a {
    color: #444137;
    font-family: 'MyriadPro-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.tabs ul li a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #12961c;
}

/* .tabs ul li a:befor {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #12961c;
} */

.tabs .items {
    margin: 23px -2% -2px;
}

.tabs .tabs-item {
    width: 100%;
    float: left;
    margin: 0 1% 19px;
}

.tabs .tabs-item img {
    width: 97%;
    border-radius: 8px;
    border: 4px solid #ece9e3;
}

.tabs .tabs-item h4 {
    color: #3a3731;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 4px;
    margin-bottom: 5px;
}

.tabs .tabs-item p {
    color: #3a3731;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 5px 0 4px;
}


.conteiner-right {
    width: 100%;
    float: right;
    background-color: #f4f2ec;
    border-left: 1px solid #e1dbce;
    border-radius: 0 5px 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.conteiner-right h5 {
    color: #3f3b30;
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.conteiner-right p {
    color: #3f3b30;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 12px;
}

.conteiner-right a {
    color: #3f3b30;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.conteiner-right .search{
    border-bottom: 1px solid #e1dbce;
    box-shadow: 0.5px 0.9px 0 white;
    padding: 21px 30px 24px 22px;
}

.conteiner-right .signup{
    border-bottom: 1px solid #e1dbce;
    box-shadow: 0.5px 0.9px 0 white;
    padding: 21px 30px 26px 22px;
}

.conteiner-right .news{
    padding: 21px 30px 21px 22px;
}

.conteiner-right .news p {
    padding-bottom: 16px;
}

form button{
    position: relative;
    width: 200px;
    padding: 15px 3px 13px 18px;
    background: url("../img/button.png") no-repeat 50% 50%;
    border: none;
    text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
    color: white;
    font-family: 'KlavikaMedium-Plain';
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    margin-top: -3px;
    margin-bottom: 19px;
    cursor: pointer;
}

form button:after {
    content: '';
    width: 13px;
    height: 12px;
    background: url("../img/button-arrow.png") no-repeat 50% 50%;
    position: absolute;
    top: 16px;
    right: 26px;
}

form div input[type='text']{
    color: #666;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    width: 119px;
    padding: 0px 7px;
    height: 24px;
    background-color: white;
    background-image: linear-gradient(to top, #f4f3f1 0%, white 100%);
    border: 1px solid #cfcdc5;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #e8e5de, inset 0 -2px 0 white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

form input[type='email']{
    float: left;
    color: #666;
    font-family: Arial;
    margin-bottom: 14px;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    width: 70%;
    padding: 0px 7px;
    height: 24px;
    background-color: white;
    background-image: linear-gradient(to top, #f4f3f1 0%, white 100%);
    border: 1px solid #cfcdc5;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #e8e5de, inset 0 -2px 0 white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

form div input[type='submit']{
    width: 67px;
    height: 24px;
    letter-spacing: -0.9px;
    text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
    color: white;
    font-family: 'KlavikaMedium-Plain';
    font-size: 14px;
    text-transform: uppercase;
    background-color: #43ac2d;
    background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
    border: 1px solid #0c932f;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #d8d5cc, inset 2px 2.2px 0 #81de41;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.signup form {
    margin-top: 4px;
}


.jcf-select{
    width: 100%;
    height: 22px;
    background-color: white;
    background-image: linear-gradient(to top, #f4f3f1 0%, white 100%);
    border: 1px solid #cfcdc5;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #e8e5de, inset 0 -2px 0 white;
    margin-bottom: 19px;
}

.jcf-select .jcf-select-text{
    color: #231f20;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.6;
}

.jcf-select .jcf-select-opener{
    width: 20px;
    height: 18px;
    background-color: #615b49;
    border-radius: 3px;
    top: 2px;
    right: 2px;
    opacity: 0.6;
}

.jcf-select .jcf-select-text:active{
    opacity: 1;
}

.jcf-select .jcf-select-opener:active{
    opacity: 1;
}

.jcf-select .jcf-select-opener:after{
    content: '';
    position: absolute;
    top: 7px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #fff;
}

footer {
    margin-top: 20px;
    margin-bottom: 70px;
}

.footer-title {
    background-color: #878176;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
    border-bottom: 2px solid #635543;
    text-align: center;
    padding: 12px 0px 10px 11px;
    border-radius: 5px 5px 0 0;
}

.footer-title p {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
}


footer .footer-content{
    background-color: #f4f2ec;
    border-radius: 5px;
    padding-bottom: 13px;
    margin-bottom: 14px;
}

footer .footer-content .twitter{
    float: left;
    position: relative;
    width: 100%;
    padding: 21px 25px 3px 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

footer .footer-content .links{
    float: left;
    width: 100%;
    padding: 21px 30px 0 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

footer .footer-content .links ul {
    float: left;
    margin-right: 46px;
}

footer .footer-content .links ul:last-child {
    float: left;
}

footer .footer-content .contact_as{
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

footer .footer-content h4{
    position: relative;
    color: #675b4c;
    font-family: 'KlavikaMedium-Plain';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

footer .footer-content .twitter h4:after{
    content: '';
    position: absolute;
    top: 0;
    left: 160px;
    background: url("../img/layer-52.png") no-repeat 50% 50%;
    width: 34px;
    height: 18px;
}

footer .footer-content .twitter p{
    color: #96938a;
    font-family: Arial;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    padding-bottom: 12px;
}

footer .footer-content .twitter a{
    display: inline-block;
    margin-left: -6px;
}

footer .footer-content .links ul li{
    color: #96938a;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

footer .footer-content .contact_as{
    position: relative;
    padding: 21px 60px 0 27px;
}

footer .footer-content .contact_as ul{
    padding-left: 3px;
    margin-bottom: 20px;
}

footer .footer-content .contact_as ul li span{
    color: #96938a;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    padding-right: 4px;
}

footer .footer-content .contact_as ul li a{
    color: #96938a;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

footer .footer-content .contact_as p{
    color: #96938a;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 3px;
}

footer .text{
    text-align: center;
}

footer .text strong{
    font-family: Arial;
    font-size: 11px;
    line-height: 18px;
    color: #675b4c;
    font-weight: 700;
}

footer .text p{
    font-family: Arial;
    font-size: 11px;
    line-height: 18px;
    color: #96938a;
    font-weight: 400;
}




@media screen and (min-width: 680px) {
    
    .logo {
        float: left;
        position: relative;
        padding-left: 52px;
        margin-top: 39px;
        left: 0;
    }

    .logo a {
        position: absolute;
        width: 100%;
        height: 175%;
        top: -20px;
        left: 20px;
        z-index: 10000;
    }

    .logo img {
        position: absolute;
        top: -19px;
        left: 25px;
    }

    .logo h2 {
        color: #231f20;
        font-family: 'KlavikaMedium-Plain';
        font-size: 34px;
        line-height: 24px;
    }

    .logo span {
        text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
        color: #858689;
        font-family: 'MyriadPro-Semibold';
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 3px;
    }

    .header-menu {
        text-align: right;
        padding-right: 20px;
    }


    .header-menu {
        float: right;
        text-align: right;
        padding-right: 20px;
        width: 50%;
    }

    nav ul{
        text-align: center;

    }

    nav ul li {
        display: inline-block;
        text-align: center;
    }

    .conteiner-left .slick-slide div {
        background: rgba(37, 29, 20, 0.9);
    }

    .tabs ul li {
        width: 33.33%;
        float: left;
    }

    .tabs .tabs-item {
        width: 47.5%;
    }

    .tabs ul li:last-child {
        border-radius: 0 5px 5px 0;
    }

    .tabs ul li:first-child {
        border-radius: 5px 0 0 5px;
    }

    .tabs ul li.ui-tabs-active:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -11.5px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 7px solid #12961c;
    }

    .jcf-select {
        width: 24%;
    }

    footer .footer-content .links{
        width: 70%;
        padding: 21px 0 0 27px;
    }

    footer .footer-content .contact_as{
        width: 30%;
    }

    footer .footer-content .contact_as:after{
        content: '';
        position: absolute;
        width: 1px;
        height: 118px;
        background-color: #cfcdc5;
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.75);
        top: 16px;
        left: 0;
    }
}





@media screen and (min-width: 1020px) {

    .wrapper {
        width: 990px;
        display: table;
    }

    .conteiner{
        display: table-row;
        height: 100%;
    }

    .header-menu span {
        display: block;
    }

    .header-menu ul li {
        display: inline-block;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
        padding: 12px 25px 9px;
    }

    .conteiner-left {
        width: 740px;
    }

    .conteiner-left .slick-slide {
        border-radius: 10px;
    }

    .conteiner-left .slick-slide div {
        width: 235px;
    }

    .fotograf img{
        display: block;
    }

    .fotograf .text {
        padding: 25px 240px 16px 0;
    }

    .tabs ul li:first-child {
        border-radius: 5px 0px 0px 5px;
    }

    .tabs ul li:last-child {
        border-radius: 0px 5px 5px 0px;
    }

    .tabs ul li {
        display: inline-block;
        width: 33.8%;
    }

    .tabs .tabs-item {
        width: 29%;
        float: left;
        margin: 0 2.1% 19px;
    }

    .conteiner-right {
        width: 250px;
        margin: 1px 1px 1px -1px;
    }

    form input[type='email']{
        float: none;
        width: 100%;
    }

    form div input[type='submit']{
        float: right;
    }

    .jcf-select {
        width: 100%;
    }

    footer .footer-content .twitter h4:after{
        right: 4px;
    }

    footer .footer-content .twitter:after{
        content: '';
        position: absolute;
        width: 1px;
        height: 118px;
        background-color: #cfcdc5;
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.75);
        top: 16px;
        right: 0;
    }

    footer .footer-content .links{
        width: 100%;
    }

    footer .footer-content .contact_as{
        width: 100%;
    }

    footer .footer-content .twitter{
        width: 25%;
    }

    footer .footer-content .links{
        float: left;
        width: 52%;
    }

    footer .footer-content .links ul {
        float: left;
        margin-right: 46px;
    }

    footer .footer-content .links ul:last-child {
        float: left;
        margin: 0 0 0 7px;
    }

    footer .footer-content .contact_as{
        float: left;
        width: 23%;
    }
}


























